#i8v02 {
  position:relative;
}

#ianlp {
  width:99px;
  max-width:87px;
}

#iwo8 {
  display:flex;
  flex-wrap:wrap;
}

#inlv {
  margin-right:10px;
}

#ih1yf {
  margin-right:10px;
}

#ipif1 {
  margin-right:10px;
}

#i5c66 {
  margin-right:10px;
}

#ixnh3 {
  margin-right:10px;
}

#ivr34 {
  margin-right:10px;
}

#io4tr {
  margin-right:10px;
}

#iifltv {
  display:flex;
  justify-content:space-between;
  padding-top:18px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
}

#it5lvc {
  max-width:20%;
}

#issgfr {
  max-width:20%;
}

